.button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; 
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #0056b3; 
  }

  &:active {
    transform: scale(0.98); 
  }

  &--disable {
    background-color: #c6c6c6 !important; 
    cursor: not-allowed;
  }
}